//  Home page  css
.Home__page__css {
  color: #000;
}
.content {
  min-height: 100vh;
  overflow: hidden;
}
.slider_desktop {
  width: 100%;
  object-fit: cover;
}
.slider-home-main img {
  width: 100% !important;
  object-fit: cover;
}
.slick-next {
  right: 25px;
  z-index: 9;
}
.slick-prev {
  left: 25px;
  z-index: 9;
}
.slick-next:before,
.slick-prev:before {
  font-size: 30px;
}
.slider__text {
  overflow: hidden;
}
@media (min-width: 768px) {
  .slider_desktop {
    height: 600px;
  }
}
@media (min-width: 320px) {
  .slider_desktop {
    min-height: 203px;
  }
}
