// component Footer css
.component_Footer_css {
  color: #000;
}
a {
  display: inline;
}

footer,
.footer__logo {
  text-align: start;
}
.footer_copyright {
  border-top: 1px #ccc dashed;
  padding: 10px;
  text-align: center;
}
