/* component Breadcrumbs css */
.component_Breadcrumbs_css {
  color: #000;
}
.breadcrumbs {
  margin-bottom: 30px;
}
.breadcrumbs__linkPage {
  padding: 5px 0 5px 30px;
  display: flex;
  align-items: center;
}
.breadcrumbs__linkPage span {
  margin-left: 5px;
}
.breadcrumbs__linkPage a > span:last-child {
  color: #000;
  font-weight: 500;
}
.breadcrumbs__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://api.luxwebsite.net/cuong_image/food_image/theme3.jpg);
  width: 100%;
  height: 247px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  //   backdrop-filter: blue(100px);
}
.breadcrumbs__content-product {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://api.luxwebsite.net/cuong_image/food_image/theme2.jpg);
}
.breadcrumbs__content-news {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://api.luxwebsite.net/cuong_image/food_image/theme1.jpg);
}
.breadcrumbs__content-auth {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://api.luxwebsite.net/cuong_image/food_image/theme3.jpg);
}
.breadcrumbs__content-cart {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://api.luxwebsite.net/cuong_image/food_image/theme4.jpg);
}
.breadcrumbs__content-title {
  color: #fff;
  font-size: 4rem;
}
.breadcrumbs__linkPage-container > span:first-child {
  font-weight: 600;
  transition: all 0.3s ease;
}
.breadcrumbs__linkPage-container > span:first-child:hover {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .breadcrumbs__content {
    background-attachment: unset;
  }
}
@media (max-width: 576px) {
  .breadcrumbs__linkPage {
    font-size: 14px;
    padding-left: 10px;
  }
  .breadcrumbs__linkPage i {
    padding-bottom: 3px;
  }
}
@media (max-width: 479px) {
  .breadcrumbs__content {
    height: 150px;
  }
  .breadcrumbs__content-title {
    font-size: 18px;
  }
}
@media (max-width: 365px) {
  .breadcrumbs__linkPage {
    align-items: flex-start !important;
  }
  .breadcrumbs__linkPage i {
    padding-top: 2px;
  }
}
